.default {
    width: 70px;
    margin: 0;
    margin-top: 10px;
    border: 2px solid darkorange;
    padding: 10px 15px;
    font-size: 14px;
    color: darkorange;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 13px #333;

}

.default:disabled {
    color: gray;
    background-color: lightgrey;
}

.default:active {
    color: gray;
    background-color: lightgrey;
}
.default:disabled:active {
    color: gray;
}